*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Jaro", sans-serif;
}

.titulo{
    margin-bottom: 15px;
    text-align: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.menu li{
    padding-left: 10px;
    padding-right: 10px;
}

.logo{
    height: 100px;
    border-radius: 20px;
}

.buscador{
    border-radius: 30px;
    color: black;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

article img{
    width: 80%;
    border-radius: 20px;
}

article{
    width: 30%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formulario{
    max-width: 350px;
    background-color: lightblue;
    border-radius: 20px;
}

.orden{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input{
    margin-top: 10px;
}

.register {
    max-width: 350px;
    background-color: lightblue;
    border-radius: 20px;
}

.bloque{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cajita{
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
    border-radius: 20px;
    height: 70px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargar_mas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    height: 80px;
    width: 120px;
    font-size: larger;
}

footer{
    margin-top: 20px;
}

p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.detalle{
    background-color: lightblue;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag{
    margin-top: 10px;
}

h3{
    margin-top: 10px;
}

@media (max-width: 420px){
    *{
        padding: 0;
    }
    article{
        width: 100%;
        justify-content: center;
    }
    header{
        flex-direction: column;
    }
    .logo{
        height: 50px;
    }
    .menu{
        flex-direction: column;
    }
    .menu a{
        font-size: smaller;
    }
}